<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    >

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>

        <!-- Main Navigation Bar -->
        <div class="navbar">
            <div class="navbar-developer-name">
                Manuia
            </div>
            <div class="navbar-items">
                <div class="navbar-item">
                    Home
                </div>
                <div class="navbar-item">
                    About
                </div>
                <div class="navbar-item">
                    Projects
                </div>
                <div class="navbar-item">
                    Contact
                </div>
            </div>
        </div>
        
        <div class="greeting-card">
            Web Developer
        </div>
    </main>
</body>
</html>